In [2]:
import pandas as pd
df = pd.read_csv('tas.csv',sep = '\t')
df.head()target = df['Test_result']

   Question  Clear marks  Obtain marks  Time  Test_result
0        10            7            10    10            1
1        10            7            10     9            1
2        10            7            10     8            1
3        10            7            10     7            1
4        10            7            10     6            2

In [3]:
input = df.drop('Test_result', axis='columns')

In [4]:
target = df['Test_result']

In [5]:
input1 = input.drop(['Question','Clear marks'], axis='columns')
input1

    Obtain marks  Time
0             10    10
1             10     9
2             10     8
3             10     7
4             10     6
..           ...   ...
75             1     7
76             1     6
77             1     5
78             1     4
79             1     3

[80 rows x 2 columns]

In [6]:
from sklearn import tree

In [7]:
model = tree.DecisionTreeClassifier()

In [8]:
model.fit(input1, target)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [9]:
model.score(input1, target)

1.0

In [10]:
input1

    Obtain marks  Time
0             10    10
1             10     9
2             10     8
3             10     7
4             10     6
..           ...   ...
75             1     7
76             1     6
77             1     5
78             1     4
79             1     3

[80 rows x 2 columns]

In [11]:
model.predict([[7,7]])

array([1], dtype=int64)